#body {

	background: url("http://i.imgur.com/Uj6oxXj.jpg
");
    width: 200px;
    height: 300px;
    background-position: center center;
	font-family: monospace;

}

/*Stuff below governs the start screen*/

.titleContent {
	margin: 10% auto;
    text-align: center;
}

.splashTitle {
	color: #fff;
    font-size: 8em;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px rgba(27, 25, 25, 0.74);
}

.button {
	border: 5px solid #383838;
    color: #383838;
    padding: 20px 50px;
    font-size: 5em;
    text-decoration: none;
    background-color: #abc;
    box-shadow: 15px 15px 80px #555;
}
  a.button:hover {
    background-color: #383838;
    color: #abc;
  }



/*Stuff below governs the Explore screen*/

#exploreBody {
	background-image: url("img/exploreHome1.jpg");
	background-position: bottom center;
}
#instructions {
  background-color: grey;
  width: 300px;
  height: 80px;
  position: absolute;
  top: 450px;
  opacity: 0.6;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  position: absolute;
  left: -250px;
  top: 1150px;
  color: black;
  text-align: center;
}

#backback {
  width: 1120px;
  height: 840px;
  background-color: black;
  position: absolute;
  left: -10px;
  top: -100px;
}

#startingbutton {
  width: 300px;
  height: 150px;
  background-color: yellow;
  border-radius: 20px;
  border-width: 10px;
  border-color: black;
  font-size: 20px;
  position: absolute;
  top: 350px;
  left: 530px;
  opacity: 0.6;
}

#startingb {
  width: 375px;
  height: 400px;
  background: url("https://s-media-cache-ak0.pinimg.com/736x/68/c8/0e/68c80e5b9ea13252acba61bebc18cc33.jpg");
  transform: scale(4, 3);
  position: absolute;
  top: 200px;
  left: 500px;
}
<//starting stuff//>
#hands {
  width: 200px;
  height: 90px;
  background: url("http://vignette1.wikia.nocookie.net/ballisticweapons/images/a/a8/BW-1stP-Fists.png/revision/latest?cb=20130522195409");
  transform: scale(4, 4);
  position: absolute;
  top: 505px;
  left: 400px;
}

#hands2 {
  width: 200px;
  height: 90px;
  background: url("http://vignette1.wikia.nocookie.net/ballisticweapons/images/a/a8/BW-1stP-Fists.png/revision/latest?cb=20130522195409");
  transform: scale(4, 4);
  position: absolute;
  top: 650px;
  left: 590px;
  transform: scale(4, 4);
}



#back2 {
  width: 900px;
  height: 480px;
  background: url("http://s3.amazonaws.com/blenderguru.com/uploads/2012/08/tutorial-result1.jpg");
  position: absolute;
  top: 100px;
  left: 200px;
  transform: scale(2, 3);
}

#left1 {
  height: 250px;
  width: 100px;
  background-color: green;
  position: absolute;
  top: 300px;
  left: 20px;
  font-size: 60px;
  border-color: black;
  border-width: 10px;
  opacity: 0.6;
  border-radius: 20px;
}

#right1 {
  height: 250px;
  width: 100px;
  background-color: green;
  position: absolute;
  top: 300px;
  left: 1320px;
  font-size: 60px;
  border-color: black;
  border-width: 10px;
  opacity: 0.6;
  border-radius: 20px;
}

#forward {
  width: 200px;
  height: 80px;
  background: green;
  position: absolute;
  top: 20px;
  left: 585px;
  font-size: 60px;
  border-color: black;
  border-width: 10px;
  opacity: 0.7;
  border-radius: 20px;
}

#forward2 {
  width: 200px;
  height: 80px;
  background: green;
  position: absolute;
  top: 20px;
  left: 440px;
  font-size: 60px;
  border-color: black;
  border-width: 10px;
  opacity: 0.7;
  border-radius: 20px;
}

#back3three {
  width: 1400px;
  height: 700px;
  background: url("http://i4.tietuku.cn/24b5f58d15436225.jpg");
  position: absolute;
  top: 10px;
  left: -500px;
  transform: scale(2, 2);
}

#h1 {
  height: 45px;
  width: 160px;
  background-color: yellow;
  opacity: 0.6;
  border-color: black;
  text-alignment: center;
  font-size: 200%;
}

#monster1 {
  width: 200px;
  height: 250px;
  background: url("http://vignette3.wikia.nocookie.net/marvelcrossroads/images/c/c2/Necromorph_Exploder_Form_Earth-1774.png/revision/latest?cb=20150609222500");
  position: absolute;
  top: 350px;
  left: 650px;
  transform: scale(2, 2);
  opacity: 0.9;
}

#back4 {
  width: 1150px;
  height: 700px;
  background: url("https://i.ytimg.com/vi/agLyL34qha4/maxresdefault.jpg");
  position: absolute;
  top: 10px;
  left: 50px;
  transform: scale(1.4, 1.7);
}

#hands4 {
  width: 200px;
  height: 90px;
  background: url("http://vignette1.wikia.nocookie.net/ballisticweapons/images/a/a8/BW-1stP-Fists.png/revision/latest?cb=20130522195409");
  transform: scale(4, 4);
  position: absolute;
  top: 550px;
  left: 590px;
  transform: scale(5, 6);
}

#warning1 {
  width: 800px;
  height: 230px;
  background: url("http://lynchimportsllc.com/wp-content/uploads/2015/06/warning-banner.png");
  position: absolute;
  top: 200px;
  left: 70px;
  opacity: 0.7;
}

#mask {
  height: 576px;
  width: 955px;
  background: url("http://media-minecraftforum.cursecdn.com/attachments/136/734/635741788332884963.png");
  position: absolute;
  top: 150px;
  left: 160px;
  transform: scale(1.8, 1.8);
}

#mask2 {
  height: 600px;
  width: 955px;
  background: url("http://media-minecraftforum.cursecdn.com/attachments/136/734/635741788332884963.png");
  position: absolute;
  top: 150px;
    left: 160px;
  transform: scale(1.8, 1.8);
}

#back5 {
  width: 1450px;
  height: 830px;
  background: url("http://i.kinja-img.com/gawker-media/image/upload/hk6fvqgvy1z9mjyjsibo.png");
  transform-scale:1,1.5;
}
  
#gameover1 {
  width: 1200px;
  height: 700px;
  background: url("http://www.mweb.co.za/DesktopModules/DigArticle/MediaHandler.ashx?portalid=20&moduleid=5259&mediaid=43929&width=1280&height=720");
  position: absolute;
  top: 50px;
    transform: scale(2,2.1);
  opacity: 0.9;
}

#theend {
  width: 600px;
  height: 300px;
  background-color: maroon;
  position: absolute;
  top: 200px;
  left: 200px;
    opacity: 0.7;
border-style: solid;
  border-width: 10px;
  border-color: black;
  font-size: 70px;
      text-align: center;
    text-shadow: 8px 6px black;
  color: red;
  transform: scale(1.4, 1.4);

}

#forward4 {
  width: 200px;
  height: 80px;
  background: green;
  position: absolute;
  top: 20px;
  left: 580px;
  font-size: 60px;
  border-color: black;
  border-width: 10px;
  opacity: 0.7;
  border-radius: 20px;
}

#object {
  width: 800px;
  height: 470px;
  background: url("http://cdn.wallpaper.com/main/legacy/gallery/17054573/06_Tranzit_Spaceship_New_Museum.jpg");
  position: absolute;
  top: 130px;
  left: 200px;
  transform: scale(2,3)
}
#hands5 {
  width: 200px;
  height: 90px;
  background: url("http://vignette1.wikia.nocookie.net/ballisticweapons/images/a/a8/BW-1stP-Fists.png/revision/latest?cb=20130522195409");
  transform: scale(4, 4);
  position: absolute;
  top: 550px;
  left: 590px;
  transform: scale(4, 4);
}

#back6 {
 width: 650px;
  height: 420px;
  background: url("https://s-media-cache-ak0.pinimg.com/736x/d6/07/51/d607512554c24a5cae86acb44adc07f1.jpg");
  position: absolute;
  top: 200px;
  left: 200px;
    transform: scale(3,3);

}

#forward5 {
  width: 200px;
  height: 80px;
  background: green;
  position: absolute;
  top: 20px;
  left: 580px;
  font-size: 60px;
  border-color: black;
  border-width: 10px;
  opacity: 0.7;
  border-radius: 20px;
}

#zmonster1 {
    width: 279px;
    height: 575px;
    background: url("http://vignette2.wikia.nocookie.net/nazizombiesplus/images/c/c3/Zombie.png/revision/latest?cb=20130928235136");
    position: absolute;
    top: 200px;
    left: 690px;
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

#endh {
    width: 24px;
    height: 24px;
    background: url("http://vignette1.wikia.nocookie.net/starwars/images/2/21/Wp-dyk.png/revision/latest?cb=20100331231057");
    position: absolute;
    top: 300px;
    left:510px;
    transform: scale(2,2);

}

#uwonb {
    width: 1920px;
    height: 1080px;
    background: url("http://wallpapercave.com/wp/pEeUsp1.jpg");
    position: absolute;
    top: 0px;
}

#isaiduwon {
  width: 300px;
  height: 150px;
  background-color: yellow;
  border-radius: 20px;
  border-width: 10px;
  border-color: black;
  font-size: 20px;
  position: absolute;
  top: 350px;
  left: 530px;
  opacity: 0.6;
}

#back7 {
 width: 950px;
  height: 630px;
  background: url("http://3.bp.blogspot.com/-94Mz66vFdsg/UBkMAXuZN0I/AAAAAAAAAUI/NB1gaaE3ENA/s1600/Nest01_15.jpg");
  position: absolute;
  top: 200px;
  left: 200px;
    transform: scale(2,3);

}

#amonster1 {
    width: 879px;
    height: 775px;
    background: url("http://media.popcultcha.com.au/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/a/l/aliens-colonel-marines-play-arts-kai-alien-spitter-1.png");
    position: absolute;
    top: 200px;
    left: 490px;
     -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

    #forward6 {
  width: 200px;
  height: 80px;
  background: green;
  position: absolute;
  top: 20px;
  left: 580px;
  font-size: 60px;
  border-color: black;
  border-width: 10px;
  opacity: 0.7;
  border-radius: 20px;
}
@import "compass/css3";
$background: #202020;

// Basic layout
html {
  background: $background;
  text-align: center;
  padding-top: 36px;
}
body {
  display: inline-block;
}